.dirstamp
cprime/
cprime.aux
cprime.cp
cprime.cps
cprime.dvi
cprime.fn
cprime.fns
cprime.html
cprime.info
cprime.ky
cprime.kys
cprime.log
cprime.pdf
cprime.pg
cprime.pgs
cprime.ps
cprime.tmp
cprime.toc
cprime.tp
cprime.tps
cprime.vr
cprime.vrs
stamp-vti
texinfo.tex
version.texi
